@font-face {
  font-family: "myfont";
  src: url("font/avenitfont.otf");
}
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "myfont", sans-serif;
  color: #151515;
}

/* general */
.container {
  max-width: 1500px;
  margin: 0 auto;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  align-items: center;
}

/* Utilities */
.space-between {
  justify-content: space-between;
}

/* header start*/
.header {
  width: 100%;
  background-color: #ffffff;
  padding: 30px 70px 20px 50px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.header__title {
  line-height: 40px;
}
.header__heading {
  font-size: 47px;
  letter-spacing: 1px;
  font-weight: 700;
}
.header__subtitle {
  font-size: 17px;
  transition: 0.9s;
}
.header__subtitle:hover {
  color: #757575;
}
.header__menu {
  list-style: none;
  display: flex;
  gap: 30px;
}
.header__link {
  text-decoration: none;
  color: #151515;
  transition: 0.9s;
}
.header__link:hover {
  color: #757575;
}
.header__link span {
  color: #757575;
}
.header__actions {
  gap: 30px;
  align-items: center;
}
.header__actions .search {
  border-bottom: 1px solid black;
  gap: 15px;
  align-items: center;
  padding-bottom: 15px;
  margin-top: 15px;
  max-width: 150px;
}
.header__actions .search__icon {
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s ease;
}
.header__actions .search__input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  cursor: pointer;
}
.header__actions .search__input::-moz-placeholder {
  color: #151515;
  font-size: 17px;
  -moz-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.header__actions .search__input::placeholder {
  color: #151515;
  font-size: 17px;
  transition: color 0.3s ease;
}
.header__actions .search:hover {
  border-bottom: unset;
}
.header__actions .search:hover .search__icon {
  color: #277cc7;
}
.header__actions .search:hover .search__input::-moz-placeholder {
  color: #277cc7;
}
.header__actions .search:hover .search__input::placeholder {
  color: #277cc7;
}
.header__actions .login__button {
  align-items: center;
  gap: 10px;
  padding: 5px 0;
  text-decoration: none;
  transition: color 0.3s ease;
}
.header__actions .login__button:hover .login__txt {
  color: #757575;
}
.header__actions .login__icon {
  font-size: 23px;
}
.header__actions .cart__toggle {
  position: relative;
  border: none;
  display: flex;
  background-color: transparent;
  cursor: pointer;
}
.header__actions .cart__icon {
  font-size: 25px;
}
.header__actions .cart__count {
  color: white;
  position: absolute;
  left: 12px;
  bottom: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* header end */
/* sidebar start */
.sidebar {
  gap: 15px;
  font-size: 18px;
  background-color: transparent;
  z-index: 1000;
  position: fixed;
  top: 50%;
  right: 2%;
}

/* sidebar end */
/* hero section start */
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url("../images/hero-img.png");
  filter: contrast(1.1) brightness(0.9);
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero__FAQ {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url("../images/customerservivce.jpeg");
  filter: contrast(1.1) brightness(0.9);
  height: 40vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero__contact {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url("../images/contact.png");
  filter: contrast(1.1) brightness(0.9);
  height: 40vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero__overlay {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__title {
  color: whitesmoke;
  font-size: 80px;
  margin-bottom: 30px;
  letter-spacing: 3px;
}
.hero__paragraph {
  font-size: 30px;
  margin-bottom: 60px;
  color: whitesmoke;
}
.hero__button {
  text-decoration: none;
  padding: 15px 30px;
  background: transparent;
  color: white;
  border: solid 1px white;
  border-radius: 25px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
.hero__button:hover {
  background-color: black;
  opacity: 0.8;
  border-color: black;
}

/* hero section end */
/* carousel section start */
.carousel {
  overflow: hidden;
  padding: 40px;
}
.carousel__headline {
  font-size: 40px;
  margin-bottom: 30px;
  text-align: center;
}
.carousel__wrapper {
  display: flex;
}
.carousel__group {
  display: flex;
  overflow-x: auto;
  flex-shrink: 0;
  animation: spin 20s infinite linear;
}
.carousel__group::-webkit-scrollbar {
  display: none;
}
.carousel__card {
  flex: 0 0 80px;
}
.carousel__images {
  height: 500px;
}

@keyframes spin {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}
/* carousel section end */
/* instagram section start */
.instagram {
  padding: 70px 50px;
  background-color: black;
  text-align: center;
}
.instagram__link {
  color: white;
  text-decoration: none;
  font-size: 88px;
}
.instagram__paragraph {
  color: white;
  font-size: 40px;
  margin-top: 10px;
}

/* instagram section end */
/* testemonials section start  */
.testimonials {
  padding: 60px;
}
.testimonials__title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 50px;
}
.testimonials__quote-icon {
  background-color: #F7F6F6;
  font-weight: bold;
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonials__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.testimonials__card {
  padding: 20px;
  border-radius: 20px;
  box-shadow: 5px 10px 18px lightgray;
}
.testimonials__img {
  display: flex;
  gap: 10px;
  text-align: left;
  border-top: 1px solid lightgray;
  padding: 10px 0px;
}
.testimonials__avatar {
  height: 50px;
  border-radius: 50%;
}
.testimonials__text {
  color: gray;
  padding: 25px 5px 15px 5px;
}
.testimonials__details {
  margin-top: 6px;
  line-height: 20px;
}
.testimonials__email {
  font-size: 13px;
  color: gray;
}

/* testemonials section end */
/* product page start*/
.product-page {
  padding: 60px;
}
.product-page__container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.product-page__img {
  height: 650px;
}
.product-page__left {
  line-height: 30px;
  padding-top: 40px;
  width: 40%;
}
.product-page__title {
  margin-bottom: 5px;
}
.product-page__SKU, .product-page__quantity-label {
  font-size: 15px;
  color: gray;
}
.product-page__price {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.product-page__quantity-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.product-page__quantity {
  font-size: 15px;
  padding: 10px 6px 10px 20px;
  width: 100px;
  margin-bottom: 30px;
}
.product-page__quantity::-moz-placeholder {
  text-align: center;
}
.product-page__quantity::placeholder {
  text-align: center;
}
.product-page__buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 50px;
}
.product-page__btn1 {
  border: none;
  font-size: 15px;
  padding: 10px 20px;
  width: 50%;
  color: white;
  background: black;
  cursor: pointer;
  transition: 0.3s;
}
.product-page__btn1:hover {
  text-decoration: underline;
}
.product-page__btn2 {
  border: none;
  font-size: 20px;
  padding: 10px 15px;
  cursor: pointer;
  border: 1px solid;
}
.product-page__product-description {
  width: 100%;
}
.product-page__product-descriptionfaq {
  padding: 40px;
}
.product-page__product-description-item:nth-child(2) {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.product-page__product-description-itemfaq {
  border-bottom: 1px solid lightgray;
  padding-top: 25px;
  padding-bottom: 10px;
}
.product-page__product-description-item {
  padding-top: 15px;
}
.product-page__description-text {
  display: none;
  margin-bottom: 10px;
  padding-top: 15px;
}
.product-page__product-description-flex {
  display: flex;
  justify-content: space-between;
}
.product-page__h2 {
  font-size: 20px;
  text-transform: uppercase;
}
.product-page__button {
  font-size: 25px;
  background-color: white;
  padding: 5px 9px;
  border: none;
  cursor: pointer;
}

/* product page end */
/* main content start */
.main-content {
  padding: 0px 50px 30px 50px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.grid__card {
  width: 100%;
  gap: 20px;
  position: relative;
}
.grid__card:hover .grid__button {
  opacity: 1;
}
.grid__card:hover .grid__image--secondary {
  opacity: 1;
}
.grid__img-box {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.grid__link {
  text-decoration: none;
}
.grid__sale-tag {
  position: absolute;
  z-index: 100;
  top: 12px;
  left: 12px;
  color: white;
  background-color: #121212;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;
}
.grid__image {
  width: 100%;
}
.grid__image--primary {
  position: relative;
  z-index: 0;
}
.grid__image--secondary {
  width: 100%;
  border-radius: 10px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.grid__content {
  text-align: center;
  gap: 10px;
}
.grid__button {
  font-size: 18px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 0px;
  width: 80%;
  align-self: center;
  cursor: pointer;
  transition: 0.3s;
  opacity: 0;
}
.grid__button:hover {
  opacity: 1;
  background-color: black;
  color: white;
}

/* main content end */
/* about section start*/
.about {
  text-align: center;
  background-color: #F7F6F6;
  padding: 100px 0;
}
.about__title {
  font-size: 40px;
  margin-bottom: 20px;
}
.about__txt {
  font-size: 26px;
  max-width: 750px;
  margin: 0 auto;
  line-height: 45px;
}

/* about section start */
/* contact page start */
.contact {
  padding: 80px 50px;
}
.contact__title {
  font-size: 48px;
  margin-bottom: 50px;
  font-weight: 400;
}
.contact__form {
  margin-bottom: 60px;
}
.contact__row {
  display: flex;
  gap: 40px;
  margin-bottom: 15px;
}
.contact__group {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.contact__label {
  margin-bottom: 8px;
}
.contact__input {
  border: none;
  border-bottom: 1px solid #757575;
  font-size: 16px;
  padding: 12px 0;
  outline: none;
  transition: border-color 0.3s ease;
}
.contact__input::-moz-placeholder {
  color: #a0a0a0;
}
.contact__input::placeholder {
  color: #a0a0a0;
}
.contact__input--textarea {
  min-height: 40px;
}
.contact__input--phone {
  border-bottom: none;
}
.contact__phone-wrapper {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #757575;
}
.contact__icon {
  margin-right: 12px;
  font-size: 18px;
}
.contact__button {
  width: 100%;
  background-color: black;
  color: #fff;
  padding: 18px;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}
.contact__wrapper {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
  align-items: center;
}
.contact__details p {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

/* contact page end */
/* footer start */
.footer {
  background-color: #151515;
  padding-top: 50px;
}
.footer__upper-part, .footer__bottom-part {
  max-width: 800px;
  margin: 0 auto;
}
.footer__list {
  list-style: none;
  line-height: 30px;
}
.footer__link {
  text-decoration: none;
  color: white;
}
.footer__bottom-part {
  margin-top: 50px;
  margin-bottom: 50px;
}
.footer__txt {
  color: white;
  margin: 40px 0;
}
.footer__label {
  color: #757575;
  display: block;
  margin-bottom: 20px;
}
.footer__toggle {
  gap: 30px;
  align-items: center;
  width: 100%;
}
.footer__input {
  background-color: #151515;
  border: none;
  border-bottom: 1px solid white;
  padding: 10px 0;
  width: 70%;
}
.footer__button {
  background: white;
  border: none;
  border-radius: 5px;
  padding: 10px 40px;
  font-size: 18px;
  width: 30%;
  cursor: pointer;
  transition: 0.3s;
}
.footer__button:hover {
  background-color: #151515;
  color: white;
  border: 1px solid white;
}
.footer__copyright {
  background-color: #757575;
  text-align: center;
  padding: 10px;
}

/* footer end *//*# sourceMappingURL=main.css.map */